*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    height: 300vh;
    font-family: "Roboto", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
}

.sub-container{
    width: 100vw;
    height: 60vh;
}

#home{
    display: flex;
    flex-direction: row;
    
}

#home div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.margin-left-2vw{
    margin-left: 2vw;
}

#home div div{
    width: 32vw;
    margin-bottom: 20vh;
}

img{
    width: 45vw;
}

h1{
    color: #17C982;
    font-weight: 700;
    font-size: 135px;
    letter-spacing: -6px;
}

h2{
    color:black;
    font-weight: 700;
    font-size: 65px;
}

header a{
    margin-right: 1vw;
    color: black;
    font-weight: 300;
    font-size: 36px;
    text-decoration: none;
}

header a:hover{
    color: #17C982;
}


#profile{
    display: flex;
    flex-direction: row;
}

#profile div li{
    font-size: 20px;
    list-style: none;
    text-align: right;
    color: black;
}

#profile img{
    width: 225px;
    border-radius: 50%;
    border:2px solid transparent;
    float: right;
    margin-bottom: 1vh;
}

#profile p{
    width: 820px;
    font-size: 32px;
    font-weight: 400;
    color: white;
}

#white-bg{
    background-color: white;
    height: 60vh;
    width: 45vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
}

#green-bg{
    background-color: #17C982;
    height: 60vh;
    width: 55vw;
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

strong{
    font-weight: 700;
}

.column{
    display: flex;
    flex-direction: column;
}

.pd-right-1vw{
    padding-right: 1vw;
}

.pd-left-1vw{
    padding-left: 1vw;
}