*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}


html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:white; 
}

.container{
    width: 100vw;
    height: 100vh;
}

.sub-container{
    width: 100vw;
    height: 70vh;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end   ;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}

.text-end{
    text-align: end;
}

.title{
    font-size: 2.5rem;
}

.white{
    color: white;
}

.gold{
    color: #DAA520;
}

.ptop{
    padding-top: 5vh;
}

.border{
    border:1px solid white;
}

#works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#content{
    display: none;
}

#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow: visible;
    background: url('../images/loading.gif') no-repeat center center black;
 }


#home{
    background-color: black;
}

#home-box{
    padding-top: 15vh;
}

#home-box h1{
    color: white;
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: -6px;
}

#home-box h2{
    color:#DAA520;
    font-weight: 700;
    font-size: 2rem;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

nav a{
    color: white;
    font-weight: 300;
    font-size: 1.7em;
    text-decoration: none;
}

nav a:hover{
    color:rgb(218, 165, 32);
}


#profile{
    background-image:url(../images/luis_bg.jpg);
    background-position: 0 -220px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    display: flex;
    justify-content: flex-end;
}
#profile-bg{
    padding-right: 5vw;
    justify-content: flex-end;
}

#profile-bg div{
    width: 45vw;
}
#profile-bg p{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: justify; 
    background-color: rgb(255, 255, 255,.9);
    padding: 1% 2% 1% 2%;
    border-radius: 2px;
}

#profile-bg strong{
    font-size: 7rem;
}

#profile-bg strong:nth-child(1){
    line-height: 0;
}

#profile-bg strong:nth-child(3){
    text-align:end;
    line-height:1 ;
}
#abilities{
    background-color: #DAA520;
    padding-top: 5%;
    align-items: center;
}

#abilities div{
    width: 40vw;
}

#abilities div div{
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#abilities div h2{
    text-align: justify;
}

#abilities h3{
    font-size: 1.5em;
    font-weight: 700;
}

#abilities h4{
    font-weight: 400;
}

#abilities div div a{
    text-decoration: none;
    display: inline-block;
    color: white;
    cursor: pointer;
}

#abilities div div a:after{
    display: block;
    content: '';
    border-bottom:2px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#abilities div div a:hover:after{
    transform: scaleX(1); 
}

#abilities div div ul{
    font-size: 1.2em;   
}

#abilities li{
    list-style: none;
}

#abilities img{
    width: 40px;
    margin-right:0%;
}

#resume{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    border: 2px solid white;
    padding: 2% 2% 2% 2%;
}

#resume:hover{  
    background-color: #fff;
    color: #DAA520;
}
#xp{
    background-color: black;
    height: 200vh;
}

#xp h2{
    margin:0% 0% 5% 0%;
}

#xp div div div h3{
    border-bottom:2px solid #DAA520;
    font-size: 1.5em;
}

#xp div div{
    font-size: 1.1em;
}

#xp h4{
    font-size: 1.15 em;
}

#xp div div div p{
    width: 50vw;
    text-align: justify;
    font-weight: 300;
}

#xp div div strong{
    font-weight: 400;
}

#xp div h3{
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 3px solid #DAA520;
}

#xp img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    cursor: pointer;
}

#xp img:hover{
    filter: grayscale(0%);
    transition:all .5s ease-in;
}

#contact{
    background-color: white;
    color: black;
    height: 50vh;
}

#contact h2{
    font-size: 3rem;
}

#medias div{
    width: 25vw;
}

#medias svg{
    width: 50px;
    height: 50px;
}

#contact svg:hover{
    transform: rotate(360deg);
    transition:all .7s ease-in;
}

#contact a{
    text-decoration: none;
    
    font-size: 1.7rem;
}

#git:hover #git1{
    fill:rgb(45,186,78); 
}

#linkedin:hover #link1{
    fill:rgb(0,119,181);
}

#facebook:hover #face1{
    fill: rgb(59,89,152);
}

#instagram:hover #ig1{
    fill:rgb(255,194,115);
}

#instagram:hover #ig2{
    fill:rgb(255,194,115);
}

#instagram:hover #ig3{
    fill:rgb(255,194,115);
}

#instagram:hover #ig4{
    fill:rgb(255,194,115);
}

@media only screen and (max-width : 1180px) {

    #home-box h1{
        font-size: 5rem;
    }

    #home box h2{
        font-size: 1.5em;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    #profile{
        background-size: 250%;
        background-position: 0 0;
        justify-content: center;
    }
    #profile-bg{
        padding-right: 0;
    }

    #profile-bg div{
        width: 80vw;
    }

    #profile-bg p{
        font-size: 1em;
    }

    #abilities div{
        width: 90vw;
    }

    #abilities h2{
        text-align: center;
    }

    #abilities img{
        margin-right: 10px;
    }
    #abilities div div{
        margin-bottom: 0%;
    }

    #resume{
        text-align: center;
        margin: 0px 10px 0px 10px;   
        
    }
    #xp div h2{
        text-align: center;
        width: 80vw;
    }

    #xp div div h3{
        text-align: center;
    }

    #xp div div div{
        width: 90vw;
    }

    #xp div div div p{
        width: 90vw;
        text-align: justify;
        font-weight: 300;
    }

}

