*{
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

body{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.container{
    width: 100vw;
    height: 100vh;
}

.sub-container{
    width: 100vw;
    height: 70vh;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}
.text-start{
    text-align: start;
}

.pd-left-1vw{
    padding-left: 1vw;
}

.pd-left-2vw{
    padding-left: 2vw;
}

.pd-right-2vw{
    padding-right: 2vw;
}


#home{
    background-color: black;
}

#home-box{
    padding-top: 15vh;
}

#home-box h1{
    color: white;
    font-weight: 700;
    font-size: 7rem;
    letter-spacing: -6px;
}

#home-box h2{
    color:#DAA520;
    font-weight: 700;
    font-size: 2rem;
}
header a{
    color: white;
    font-weight: 300;
    font-size: 1.7em;
    text-decoration: none;
}

header a:hover{
    color:rgb(218, 165, 32);
}


#profile{
    background-image:url(../images/luis_bg.jpg);
    background-position: 0 -220px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}
#profile-bg{
    color: white;
    padding-top: 20vh;
}

#profile-bg div{
    width: 75vw;
}
#profile-bg p{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2vh 4vw 2vh 4vw;
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    text-align: justify;
}

#profile-bg strong{
    font-size: 7rem;
    color:rgba(218, 165, 32,1);
}

#profile-bg p strong{
    font-size: 1.5rem;
    font-weight: 700;
}

#profile-bg strong:nth-child(1){
    line-height: 0;
}

#profile-bg strong:nth-child(3){
    text-align:end;
    line-height:1 ;
}
#abilities{
    background-color: #DAA520;
    padding: 5% 3% 0% 3%;
    align-items: center;
    color: white;
}

#abilities div{
    width: 40vw;
}

#abilities div div{
    margin-bottom: 5%;
}

#abilities div h2{
    font-size: 2.3rem;
    font-style: italic;
    margin-bottom: 10vh;
}

#abilities h3{
    font-size: 1.5em;
    font-weight: 700;
}

#abilities h4{
    font-weight: 400;
}


#abilities div div a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

#abilities div div a:after{
    display: block;
    content: '';
    border-bottom:2px solid white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

#abilities div div a:hover:after{
    transform: scaleX(1); 
}

#abilities div div ul{
    font-size: 1.2em;   
}

#abilities li{
    list-style: none;
}

#abilities img{
    width: 40px;
    margin-right:5%;
}

#resume a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-size: 1.2em;
    font-weight: 700;
    border: 2px solid white;
    border-radius: 2%;
    padding: 2% 2% 2% 2%;
}

#resume a:hover{  
    background-color: #fff;
    color: #DAA520;
}

.border{
    border:1px solid black
}