@font-face {
    font-family: "Advent Pro";
    font-style: normal;
    src: url("./assets/fonts/coolvetica\ rg.ttf");
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Advent Pro";
    overflow-x: hidden;
}

strong {
    color: #1bf2dd
}

.indicator {
    position: relative;
    width: 50px;
    height: 50px;
    background:rgba(44,35,102,1);
    transform:rotate(45deg);
}

.indicator span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border:none;
    border-right:3px solid red;
    border-bottom:3px solid red; 
    animation: animate 1s linear infinite;
}

.indicator span:nth-child(1){
    top:-15px;
    left:-15px;
}

.indicator span:nth-child(2){
    top:0px;
    left:0px;
}

.indicator span:nth-child(3){
    top:15px;
    left:15px;
}

